# =============================================================================
# HarmonyOS 模块级 .gitignore
# =============================================================================

# -------------------- 依赖管理 --------------------
/node_modules
/oh_modules

# -------------------- DevEco Studio 预览 --------------------
/.preview

# -------------------- 构建产物 --------------------
/build
/.test

# -------------------- C/C++ Native 编译 --------------------
/.cxx

# -------------------- 自动生成的文件 --------------------
# DevEco Studio 编译时自动生成的 BuildProfile.ets
**/BuildProfile.ets
